@import 'ui/assets/theme/palette';

.no-messages {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 19px;
	border: 1px solid rgba($color: $primary-light, $alpha: 0.2);

	&__text {
		font-size: 32px;
		font-weight: 800;
		color: rgba($color: $primary, $alpha: 0.5);
	}
}
