@import 'ui/assets/theme/palette';

.profile {
	display: flex;
	align-items: center;

	&__avatar {
		margin-right: 32px;
	}

	&__initials {
		display: flex;
		flex-direction: column;
	}

	&__name {
		font-weight: 600;
		font-size: 32px;
	}

	&__title {
		font-weight: 600;
		font-size: 18px;
	}

	&__location {
		font-weight: 600;
		font-size: 14px;
		color: rgba($color: $primary-light, $alpha: 0.8);
	}
}
